<div class="col-md-4 col-md-offset-4">
  <h1>修改留言</h1>
  <hr>

  <%= simple_form_for @board do |f| %>
    <div class="form-group">
      <%= f.input :title, input_html: { confirm: "form-control" }%>
      <%= f.input :description, input_html: { confirm: "form-control" }%>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..." }%>
  <% end %>
</div>
