<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_board_path(@board), class: "btn btn-primary pull-right")%>
  </div>

  <h2><%= @board.title %></h2>
  <p><%= @board.description %></p>
</div>
